<h1>Welcome To Hood Watcher!</h1>
<h4> (Our job is finding you the right hood.) </h4>

<hr>

<% if current_user %>
  Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<hr>

the quiz content will display here ONLY AFTER logged in/ signed up
<hr>
