<div class='container' id='quiz_container'>
  <div class='row'>
    <div class='col-sm-6' id='questions_side'>
      <%= render 'questions' %>
    </div>
    <div class='col-sm-6' id='map_side'>
      <%= render 'map' %>
    </div>
  </div>
</div>
