<h4>User Profile</h4>

Username: <%= @user['username'] %><br>
Email address: <%= @user['email'] %><br>
placeholder for assigned neighborhood <br>


<h4><%= link_to 'Remove User', @user, method: :delete %></h4>



